{{ attach_library('socialbase/teaser') }}

<div class="card teaser teaser--event">

  {% include '@demo/02-atoms/image/image--teaser--event.twig' %}

  <div class='teaser__body'>
    <div class="teaser__content">
      <h4 class="teaser__title"><a href="{{ url }}">{{ title }}</a></h4>

      {% if event_date %}
        {% embed "node--teaser__field.html.twig" %}
          {%- block field_icon -%} event {%- endblock -%}
          {%- block field_value -%} {{ event_date }}
            {% if event_timezone|render %}
              <span title="{{ "Timezone for this event"|t }}" class="badge badge-timezone">{{ event_timezone|raw }}</span>
            {% endif %}
          {%- endblock -%}
        {% endembed %}
      {% endif %}

      {% if event_location|render %}
        {% embed "node--teaser__field.html.twig" %}
          {%- block field_icon -%} location {%- endblock -%}
          {%- block field_value -%} {{ event_location }} {%- endblock -%}
        {% endembed %}
      {% endif %}

      {% if event_type %}
        {% embed "node--teaser__field.html.twig" %}
          {%- block field_icon -%} label {%- endblock -%}
          {%- block field_value -%} {{ event_type }} {%- endblock -%}
        {% endembed %}
      {% endif %}

      {% if group_name %}
        {% embed "node--teaser__field.html.twig" %}
          {%- block field_icon -%} group {%- endblock -%}
          {%- block field_value -%} {{ group_name }} {%- endblock -%}
        {% endembed %}
      {% endif %}

      {% if enrolled %}
        <span class="badge badge-secondary teaser__badge">
        {% trans %} Enrolled {% endtrans %}
        </span>
      {% endif %}
    </div>

    <div class="card__actionbar">

      {% include '@demo/02-atoms/comment/comment-count.twig' %}

      {% include '@demo/02-atoms/visibility/visibility.twig' %}

      {% include '@demo/02-atoms/read-more/read-more.twig' %}

    </div>

  </div>
</div>
