{{ attach_library('socialbase/teaser')}}

<div class="card teaser teaser--profile">

  {% include '@demo/02-atoms/image/image--profile.twig' %}

  <div class='teaser__body'>
    <div class="teaser__content">

      <h4 class="teaser__title"><a href="{{ profile_contact_url }}" rel="bookmark">{{ profile_name }}</a></h4>

      {% if function|render or organization|render %}
        <div class="teaser__profile-function">
          <svg class="teaser__content-type-icon">
            <use xlink:href="#icon-business_center"></use>
          </svg>
          <span class="teaser__content-text">
            {{ function }}
            {% if organization %}
              &bullet;
              {{ organization }}
            {% endif %}
          </span>
        </div>
      {% endif %}
    </div>

    <div class="card__actionbar">

      <a href="{{ profile_contact_url }}" class="card__link">
        {% if profile_contact_label == 'private_message' %}
          {% trans %}Private message{% endtrans %}
        {% else %}
          {% trans %}View profile{% endtrans %}
        {% endif %}
      </a>
      <a href="{{ profile_stream_url }}" class="card__link hidden-for-phone-only">
        {% trans %}View activities{% endtrans %}
      </a>

    </div>

  </div>
</div>

