{{ attach_library('socialbase/teaser') }}

<div class="card teaser teaser--group">

  {% include '@demo/02-atoms/image/image--teaser--group.twig' %}

  <div class='teaser__body'>
    <div class="teaser__content">
      {{ title_prefix }}
      {% if not page %}
        <h4{{ title_attributes }} class="teaser__title">
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h4>
      {% endif %}
      {{ title_suffix }}

      {% embed "node--teaser__field.html.twig" %}
        {%- block field_icon -%} group {%- endblock -%}
        {%- block field_value -%}

      {% if group_members < 1 %}
        1 member
      {% else %}
        {{ group_members }} members
      {% endif %}

        {%- endblock -%}
      {% endembed %}

      {% if group_location|render or group_address|render %}
        <div class="teaser__content-line">
          <svg class="teaser__content-type-icon">
            <use xlink:href="#icon-location"></use>
          </svg>
          <span class="teaser__content-text">
              {{ group_location }}
            {% if group_location|render is not empty and group_address|render is not empty %} &bullet;{% endif %}
            {{ group_address }}
            </span>
        </div>
      {% endif %}

    </div>

    <div class="card__actionbar">

      {% if joined %}
        <span class="badge teaser__badge badge-secondary brand-bg-secondary">
          {% trans %}Joined{% endtrans %}
        </span>
      {% endif %}

      {% include '@demo/02-atoms/read-more/read-more.twig' %}

    </div>

  </div>
</div>
